html,
body {
    margin: 0;
}

#app {
    font-family: sans-serif;
    height: 100vh;
    #page-wrap {
        text-align: center;
        overflow: auto;
        top: 5px;
        position: relative;
        .flex-main-container {
            display:flex;
            flex-direction: column;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
        }
    }
}
